<h1>New Product</h1>
  <form action="/products" method="post">
    <label for="name">Name</label>
    <br>
    <input name="name" type="text">
    <br>
    <br>
    <label for="price">Price</label>
    <br>
    <input name="price" type="text">
    <br>
    <br>
    <label for="inventory">Availability</label>
    <br>
    <input name="inventory" type="text">
    <br>
    <br>
    <button type="submit">Create Item</button>
</form>