<h1>New Article</h1>
  <form action="/articles" method="post">
    <label for="title">Title</label>
    <br>
    <input name="title" type="text">
    <br>
    <br>
    <label for="author">by</label>
    <br>
    <input name="author" type="text">
    <br>
    <br>
    <label for="content">Start writing!</label>
    <br>
    <input name="content" type="text">
    <br>
    <br>
    <button type="submit">Create Item</button>
  </form>
  <form action="/articles" method="get">
    <br>
    <button type="submit">Cancel</button>
  </form>